@tailwind base;
@tailwind components;
@tailwind utilities;




.element{
  /* background-color: red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 550px;
  margin: 0 auto;
  height: 440px;
  align-items: center;
}
img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}